@import 'antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовые стили. */
:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-weight: 400;
  line-height: 1.5;
  font-family: inherit;
  text-rendering: optimizeSpeed;
}

[hidden] {
  display: none !important;
}

a {
  @apply text-primary;
}

a:hover {
  @apply text-primaryLight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium text-primary;
}

h1 {
  @apply text-2xl;
}
